<h1>Describe your nightmare here!</h1>
<h2>( Keep it PG-13 y'all )</h2>
<%= simple_form_for @nightmare do |f| %>
  <%= f.input :saying %>
  <%= f.input :author %>
  <br />
  <%= f.submit 'Dream', class: 'btn btn-warning'%>
<% end %>
<br />
<br />
<br />